<%= render "shared/header" %>
<main>
  <div class="container">
    <div class="table-responsive my-5">
      <table class="table table-striped text-nowrap">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">名前</th>
            <th scope="col">フリガナ</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">貸出</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.where.not(id: current_user.id).each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.kana_name %></td>
              <td><%= user.email %></td>
              <% if Borrow.where(user_id: user, borrowing_book: 1).present? %>
                <td>貸し出し中</td>
              <% else %>
                <td></td>
              <% end %>
              <td>
                <div class="d-flex">
                  <%= link_to "", user_path(user), class: "btn btn-success bi bi-search" %> 
                  <%= link_to "", edit_user_path(user), class: "btn btn-warning bi bi-pencil" %>
                  <%= link_to "", user_path(user), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn btn-danger bi bi-trash" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
<%= render "shared/footer" %>