<% breadcrumb :user, @user %>
<%= render "shared/breadcrumbs" %>
<main>
  <div class="container">
    <h2 class="pt-5 text-center">ユーザー登録情報</h2>
    <div class="row my-5">
      <div class="col-6 col-md-4 text-center">
        <p>名前</p>
        <p>フリガナ</p>
        <p>メールアドレス</p>
      </div>
      <div class="col-6 col-md-4 text-center">
        <p><%= @user.name %></p>
        <p><%= @user.kana_name %></p>
        <p><%= @user.email%></p>
      </div>
      <div class="col-md-4 text-center">
        <p><%= link_to "登録情報の変更", edit_user_path(@user), class: "btn btn-warning col-6 col-md-8" %></p>
        <p><%= link_to "借りた本の履歴", user_borrows_path(@user), class: "btn btn-primary col-6 col-md-8" %></p>
        <% if @borrowing_book.present? && current_user.admin? %>
          <p><%= link_to "返却確認済み", user_borrow_path(@user), method: :patch, class: "btn btn-success col-6 col-md-8" %></p>
        <% end %>
      </div>
    </div>
    <h2 class="py-5 text-center">現在借りている本</h2>
    <% if @borrowing_book.present? %> 
      <b><p class="text-center">※ご返却が期間を過ぎますと延滞料金が発生する場合がございます</p></b>
      <div class="d-flex justify-content-center">
        <ul class="list-group">
          <li class="list-group-item d-flex">
            <div class="list">返却予定日</div>
            ： <div><%= @return_date %>（<%= @wdays[@return_date.wday] %>）</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="list">残り日数</div>
            ： <div>
                <% if @days_left < 0 %>
                  返却予定日よりも<%= @days_left.abs %>日過ぎてます
                <% else %>  
                  <%= @days_left %>日
                <% end %>
              </div>
          </li>
        </ul>
      </div>
      <div class="books row row-cols-1 my-5 g-3">
        <% @borrow_books.each do |borrow_book| %>
          <div class="book">
            <%= link_to book_path(borrow_book.book), class: "text-decoration-none text-dark" do %>
              <div class="card">
                <div class="row">
                  <div class="col-5"> 
                    <%= image_tag borrow_book.book.image, class: "card-img-left col-6 img-fluid" %>
                  </div>
                  <div class="col-7">
                    <div class="card-body">
                      <h5 class="card-title text-truncate"><%= borrow_book.book.title %></h5>
                      <p class="card-text text-truncate"><%= borrow_book.book.author %><p>
                      <p class="card-text category-name"><%= borrow_book.book.category.name %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <b><p class="text-center">現在借りている本はありません</p></b>
    <% end %>
  </div>
</main>