<header>
  <nav class="navbar navbar-expand-md navbar-light bg-success">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand d-flex" do %>
        <i class="bi bi-book"></i>
        <h4>HISTORIES</h4>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav flex-grow-1 mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">カテゴリー</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% Category.all.each do |category| %>
                <li><a class="dropdown-item" href="#"><%= category.name %></a></li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? && current_user.admin? %>
            <li class="nav-item">
              <%= link_to "本の登録", new_book_path, class: "nav-link active text-decoration-none" %>
            </li> 
            <li class="nav-item">
              <%= link_to "ユーザー一覧", users_path, class: "nav-link active text-decoration-none" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active text-decoration-none" %>
            </li> 
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link active text-decoration-none" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active text-decoration-none" %>
            </li>       
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link active text-decoration-none" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link active text-decoration-none" %>
            </li>   
          <% end %>
        </ul>
        <%= form_with url: search_books_path, local:true, method: :get, class: "d-flex" do |f| %>
          <%= f.text_field :keyword, class: "form-control me-2" %>
          <%= f.submit "検索", class: "btn btn-warning col-3"%>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
        <% elsif user_signed_in? %>  
          <%= link_to "", user_cart_path(current_user, current_user.cart), class: "bi bi-cart-fill text-dark", style: "font-size: 2rem;", id: "cart-btn" %>
        <% else %>
          <%= link_to "", new_user_session_path, class: "bi bi-cart-fill text-dark", style: "font-size: 2rem;", id: "cart-btn" %> 
        <% end %>
      </div>  
    </div>
  </nav>
</header>