<%= search_form_for @search, url: search_books_path do |f| %>
  <div class="row mt-5">
    <%= f.label :id_eq, '管理番号', class: "form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.number_field :id_eq, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.label :title_cont, 'タイトル', class: "form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.search_field :title_cont, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.label :author_cont, '作者', class: "form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.search_field :author_cont, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.label :category_id_eq, 'カテゴリー', class: "form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: '指定なし'}, {class: "select-box form-select"}) %>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.label :quantity_eq, '在庫数', class: "form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.number_field :quantity_eq, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-3">
    <%= f.submit '検索', class: "btn btn-warning col-2" %>
  </div>
<% end %>