<% breadcrumb :root %>
<% if user_signed_in? && current_user.admin? %>
  <main>
    <div class="container">
      <%= search_form_for @search, url: search_books_path do |f| %>
        <div class="row mt-5">
          <%= f.label :id_eq, '管理番号', class: "form-label col-sm-2" %>
          <div class="col-sm-4">
            <%= f.number_field :id_eq, class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <%= f.label :title_cont, 'タイトル', class: "form-label col-sm-2" %>
          <div class="col-sm-4">
            <%= f.search_field :title_cont, class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <%= f.label :author_cont, '作者', class: "form-label col-sm-2" %>
          <div class="col-sm-4">
            <%= f.search_field :author_cont, class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <%= f.label :category_id_eq, 'カテゴリー', class: "form-label col-sm-2" %>
          <div class="col-sm-4">
            <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: '指定なし'}, {class: "select-box form-select"}) %>
          </div>
        </div>
        <div class="row mt-3">
          <%= f.label :quantity_eq, '在庫数', class: "form-label col-sm-2" %>
          <div class="col-sm-4">
            <%= f.number_field :quantity_eq, class: "form-control" %>
          </div>
        </div>
        <div class="row mt-3">
          <%= f.submit '検索', class: "btn btn-warning col-2" %>
        </div>
      <% end %>
      <div class="table-responsive my-5">
        <table class="table table-striped text-nowrap">
          <thead>
            <tr>
              <th scope="col">管理番号</th>
              <th scope="col">タイトル</th>
              <th scope="col">作者</th>
              <th scope="col">カテゴリー</th>
              <th scope="col">在庫数</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td scope="col"><%= book.id %></td>
                <td><%= book.title %></p></td>
                <td><%= book.author %></td>
                <td class="category-name"><%= book.category.name %></td>
                <td><%= book.quantity %></td>
                <td>
                  <div class="d-flex">
                    <%= link_to "", book_path(book), class: "btn btn-success bi bi-search" %> 
                    <%= link_to "", edit_book_path(book), class: "btn btn-warning bi bi-pencil" %>
                    <%= link_to "", book_path(book), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn btn-danger bi bi-trash" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
<% else %>
  <main>
    <%= image_tag 'bookers.png', width: '100%', height: '400' %>
    <div class="container">
      <div class="books row row-cols-1 row-cols-md-3 row-cols-xl-5 my-5 g-3">
        <% @books.each do |book| %>
          <div class="book d-flex justify-content-center">
            <div class="card index-card">
              <div class="row g-0">  
              <%= link_to book_path(book), class: "text-decoration-none text-dark" do %>
                <%= image_tag book.image, class: "card-img-top col-sm-5" %>
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= book.title %></h5>
                  <p class="card-text text-truncate" style="max-width: 300px;"><%= book.author %><p>
                  <% if book.quantity == 0 %>
                    <b class="text-danger">貸し出し中</b>
                  <% end %>
                </div>   
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
<% end %>