<% breadcrumb :book, @book %>
<%= render "shared/breadcrumbs" %>
<main>
  <div class="container">
    <% if user_signed_in? && current_user.admin.blank? %>
      <%= render "shared/error_messages", model: current_user.cart %>
      <%= render "shared/flash" %>
    <% end %>
    <div class="row align-items-md-stretch my-5">
      <div class="col-md-6 d-flex justify-content-center">
        <%= image_tag @book.image.variant(resize: "300x300"), class: "card-img-top" %>
      </div>
      <div class="col-md-6">
        <div class="book">
          <h2><%= @book.title %></h5>
          <p><%= @book.author %></p>
          <p><%= @book.content %></p>
          <p class="category-name"><%= @book.category.name %></p>
          <% if user_signed_in? && current_user.admin? %>
            <p>在庫数：<%= @book.quantity %>冊</p>
            <div class="d-flex justify-content-around">
              <p><%= link_to "編集", edit_book_path(@book), class: "btn btn-warning" %></p>
              <p><%= link_to "削除", book_path(@book), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn btn-danger" %></p>
            </div>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
          <% elsif user_signed_in? %>
            <% if @book.quantity == 0 %>
              <b class="text-danger">貸し出し中</b>
            <% else %>
              <%= form_with url: user_carts_path(current_user), local: true do |f| %> 
                <%= f.hidden_field :quantity, value: 1 %>
                <%= f.hidden_field :book_id, value: @book.id %>
                <div class="d-flex justify-content-center">
                  <%= f.submit "カートに入れる", class: "btn btn-warning cart-btn" %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="d-flex justify-content-center">
              <%= link_to "カートに入れる", new_user_session_path, class: "btn btn-warning cart-btn" %> 
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-5 pt-5 col-md-6 mx-auto">
        <% if user_signed_in? %>
          <%= form_with url: book_comments_path(@book), model: @comment, local: true do |f| %>
            <div class="comment-form d-flex justify-content-center">
              <%= f.text_area :text, class: "comment_text col-md-10" %>
              <%= f.submit "コメントする", class: "btn btn-success", id: "submit" %>
            </div>
          <% end %>
        <% else %>
          <strong><p class="text-center">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div id="comments">
          <% @comments.reverse_each do |comment| %>
            <div class="comment mt-3 border-bottom">
              <p><%= comment.created_at.to_date %></p>
              <p><%= comment.text %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>