<% breadcrumb :cart, @user, @cart %>
<%= render "shared/breadcrumbs" %>
<main>
  <div class="container">
    <%= render "shared/flash" %>
    <div class="books row row-cols-1 my-5 g-3 ">
      <% @cart_books.each do |cart_book| %>
        <div class="book mb-5">
          <div class="card">
            <div class="row">
              <div class="col-5"> 
                <%= image_tag cart_book.book.image.variant(resize: "300x300"), class: "card-img-left col-6 img-fluid" %>
              </div>
              <div class="col-7">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= cart_book.book.title %></h5>
                  <p class="card-text text-truncate"><%= cart_book.book.author %><p>
                  <p class="card-text category-name"><%= cart_book.book.category.name %></p>
                  <div class="card-text d-flex">
                    ｜<%= link_to "詳細", book_path(cart_book.book), class: "text-decoration-none" %>｜
                    <%= link_to "削除", user_cart_path(current_user, current_user.cart, book_id: cart_book.book.id), method: :delete, class: "text-decoration-none text-danger" %>｜
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user.cart.cart_books.present? %>
      <div class="d-flex justify-content-center my-5">
        <%= link_to "確認画面に進む", new_user_borrow_path, class: "col-md-4 btn btn-success" %>
      </div>
    <% else %>
      <h2 class="text-center">カートは空です</h2>
    <% end %>
  </div>
</main>