<%= render "shared/header" %>
<main>
  <h2 class="pt-5 text-center">借りた本の履歴</h2>
  <div class="container">
    <div class="books row row-cols-1 my-5 g-3 ">
      <% if @borrow_books.present? %>
        <% @borrow_books.each do |borrow_book| %>
          <div class="book">
            <%= link_to book_path(borrow_book.book), class: "text-decoration-none text-dark" do %>
              <div class="card">
                <div class="row">
                  <div class="col-5"> 
                    <%= image_tag borrow_book.book.image, class: "card-img-left col-6 img-fluid" %>
                  </div>
                  <div class="col-7">
                    <div class="card-body">
                      <h5 class="card-title text-truncate"><%= borrow_book.book.title %></h5>
                      <p class="card-text text-truncate"><%= borrow_book.book.author %><p>
                      <p class="card-text category-name"><%= borrow_book.book.category.name %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <b class="text-center">本を借りたことがありません</b>
      <% end %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>